@font-face {
    font-family: 'Font1';
    src: url('./Gilroy-Light.ttf');

}

@font-face {
    font-family: 'Font2';
    src: url('./din-pro.ttf');
}

@font-face {
    font-family: 'Font3';
    src: url('./Gilroy-Extrabold.ttf');
}
@font-face {
    font-family: 'Font4';
    src: url('./circe.ttf');
}

