.text {
    text-align: center
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: auto;
    left: auto;
}

.stayle {
    background: rgb(255, 255, 255);
    box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
    border-radius: 30px;
    padding: 25px;
    padding-top: 50px;
}















